<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:5000/result" method="POST">
        name<input type="text" name="name" /><br>
        c programing<input type="text" name="c"/></form><br>
        python<input type="text" name="python"/><br>
        java <input type="text" name="java"/><br>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>